name: 'Deploy OpenTelemetry'
on:
  push:
    branches: main
    paths:
      - .github/workflows/**
jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: otel-deploy-job
    steps:
      - uses: plengauer/Thoth/actions/instrument/deploy@543ca18965be48d84e623b153cdc2e18426654f0
        with:
          github_token: '${{ secrets.DEPLOY_OBSERVABILITY_TOKEN }}' # TODO configure a token that has permissions to push contents and open pull requests
          job_level_instrumentation_secret_redaction_strategy: all
        env:
          OTEL_EXPORTER_OTLP_ENDPOINT: http://20.169.76.209:8080
